# ================= Keil 标准忽略规则 =================

# 1. 忽略 Keil 编译生成的垃圾文件夹
Objects/
Listings/
RTE/
DebugConfig/

# 2. 忽略编译产生的具体垃圾文件 (不管在哪个文件夹)
*.o
*.d
*.crf
*.dep
*.axf
*.htm
*.lnp
*.sct
*.lst
*.map
*.iex
*.build_log.htm
*.bak
*.lib
*.hex
*.bin

# 3. 忽略调试器生成的日志
JLinkLog.txt
*.scvd

# 4. !注意：千万不要忽略 .c .h 和库文件
# (Git默认保存所有未被上面忽略的文件，所以不需要额外写 !main.c)